<mat-card>
  <mat-table class="mat-elevation-z8" [dataSource]=vehiculos>
  
 	<ng-container matColumnDef="Placa">
  		<mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.placa}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="Tipo">
  		<mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.tipoVehiculo}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="FechaIngreso">
  		<mat-header-cell *matHeaderCellDef>FechaIngreso</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.fechaIngreso}} </mat-cell>
	</ng-container>

	
	<!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
