<div class="container">
  <h3 mat-dialog-title>Agregar nuevo Vehiculo</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit(ngForm)" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Placa" [(ngModel)]="data.placa" name="placa" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <mat-select matInput #input class="form-control" placeholder="Tipo" [(ngModel)]="data.TipoVehiculo" name="TipoVehiculo" required >
		    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
		      {{ tipo.viewValue }}
		    </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form" >
      <mat-form-field color="accent">
        <input matInput #inputstate  class="form-control" placeholder="Cilidraje" [(ngModel)]="data.cilindraje" name="cilindraje" [disabled]="data.TipoVehiculo!='Moto'" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
