<mat-toolbar color="warm">
   <img class="png-icon" src="/assets/logo-ceiba.png" style="width: 142px; height: 60px;">
<!--   <span>  Parqueadero</span> -->
  <span class="spacer"></span>
    <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="container mat-elevation-z8">
<!--   <div class="form"> -->
<!--     <mat-form-field floatPlaceholder="never" color="accent" align="center"> -->
<!--       <input matInput #filter placeholder="Filtrar por..."> -->
<!--     </mat-form-field> -->
<!--   </div> -->
  <mat-table #table [dataSource]="vehiculos" matSort class="mat-cell">
 	<ng-container matColumnDef="Placa">
  		<mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.placa}} </mat-cell>
	</ng-container>
	<ng-container matColumnDef="Tipo">
  		<mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.tipoVehiculo}} </mat-cell>
	</ng-container>
	<ng-container matColumnDef="FechaIngreso">
  		<mat-header-cell *matHeaderCellDef>Fecha Ingreso</mat-header-cell>
  		<mat-cell *matCellDef="let vehiculo"> {{vehiculo.fechaIngreso}} </mat-cell>
	</ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let vehiculo">
        <button mat-icon-button color="accent" (click)="startEdit(vehiculo.placa, vehiculo.TipoVehiculo, vehiculo.FechaIngreso)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="deleteItem(vehiculo.placa, vehiculo.TipoVehiculo, vehiculo.FechaIngreso)">
         <mat-icon aria-label="Facturar">Facturar</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

<!--   <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'"> -->
<!--     No hay vehiculos en el parqueadero o no hay vehiculos que coincidan con el filtro -->
<!--   </div> -->